/* Color palette */


:root {
    /* Dark */
    --deep-royal-blue: #0A1F73;
    --dark-blue: #050A2A;
    --steel-blue: #0A4174;
    --electric-cyan: #00D1FF;
    --soft-violet: #8A7CFF;
    --ice-white: #F4F8FF;
    /* light */
    --metallic-silver: #C7D0E0;
    --deep-teal: #0A6173;
    --deep-purple:#5D3FD3;
    --font-body: 'Inter', sans-serif;
    --font-title: 'Space Grotesk', sans-serif;
}


body.index{
    background-color: var(--dark-blue);
    color: var(--ice-white);
    padding-top: 120px;
    font-family: var(--font-body);
}

/*NAVBAR*/
.navbar {
    padding: 8px 0;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}


.navbar-nav {
    gap: 15px;
}


.nav-link {
    color: #F4F8FF !important;
    font-weight: 500;
    transition: 0.3s;
}


.nav-link:hover {
    color: var(--electric-cyan) !important;
    transform: translateY(-2px);
}


/* Dropdown background */
.dropdown-menu {
    background-color: var(--dark-blue);
    border: 1px solid var(--soft-violet);
}


/* Dropdown items */
.dropdown-item {
    color: var(--ice-white);
    transition: 0.3s;
}


/* Hover effect*/
.dropdown-item:hover {
    background-color: var(--soft-violet);
    color: var(--dark-blue);
    transform: translateX(5px);
}


.hero-section {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background: radial-gradient(circle at top, #0A1F73, #050A2A);
}


/* Titles */
.titles {
    background: linear-gradient(90deg, #F4F8FF, #8A7CFF, #8FC2F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    font-family: var(--font-title);
}




    /* Cards */
    .quest-card{
    background-color: #0A4174;
    border: 1px solid var(--soft-violet);
    color: var(--ice-white);
    transition: 0.3s ease;
}


.quest-card:hover{
    transform: translateY(-10px);
    box-shadow:
    0 0 20px var(--electric-cyan);
    display:flex;
    flex-direction:column;
}


.quest-card .btn{
    margin-top:auto;
}
.card-image{
    width:100%;
    height:250px;
    object-fit:cover;
}

/* Fatcs */
/* Facts carousel */
.carousel-item {
  min-height: 80px;
}

/* Carousel facts */
#bciFacts .carousel-item p{
    font-family: 'Space Mono', monospace;
    font-weight: 300;  
}


/* Contact */
#feedback {
    scroll-margin-top: 140px;
    background-color: var(--dark-blue);
    color: var(--ice-white);
}


.navbar,
footer, #location {
    background-color: var(--dark-blue);
    color:#F4F8FF;
}


.contact-section{
    color: var(--ice-white);
}


.email-link{
    color: var(--ice-white);
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s ease;
}


.email-link:hover{
    color: var(--electric-cyan);
    text-decoration: underline;
}




/* Footer */
footer{
    padding: 40px 20px;
    text-align: center;
    border-top: 2px solid var(--soft-violet);
}


footer p{
    margin-bottom: 12px;
}


footer a{
    color: var(--electric-cyan);
    text-decoration: none;
    transition: 0.3s;
}


footer a:hover{
    color: var(--soft-violet);
    text-decoration: underline;
}

/* location */
.map-container{
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid var(--metallic-silver);
}


.map-container iframe{
    width: 100%;
    height: 450px;
    border: 0;
    display: block;
}

/* Smooth Scrolling */
html{
    scroll-behavior: smooth;
}


/* Socials */

.social-icons{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 2.2rem;
    margin: 30px 0;
}

/* Back to the top Button */
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--deep-teal);
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    z-index: 1000;
    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
}


.back-to-top.show{
    opacity: 1;
    visibility: visible;
}


.back-to-top:hover{
    background: var(--electric-cyan);
    color: var(--dark-blue);
    transform: translateY(-4px);
}
/* Intro */
/* Light theme */
.light-page{
    background-color: var(--metallic-silver);
    color: var(--dark-blue);
    font-family: var(--font-body);
    padding-top: 140px;
    margin-top: 30px;
    font-size: 18px;
}


/* Titles */
.light-page h1{
    font-family: var(--font-title);
    font-weight: 700;


    background: linear-gradient(
        to right,
        #0A1F73 0%,
        #0A6173 50%,
        #0A4174 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


/* sub titles */
.light-page h2{
     font-family: var(--font-title);
    font-weight: 700;
    color: var(--dark-blue);


}


.light-page p{
     font-family: var(--font-body);
    color: var(--dark-blue);
    line-height: 1.8;
    font-weight: 350;
}


.light-page .footer p{
    color: var(--ice-white) !important;
}


/* Bread crumb */
.breadcrumb{


    background: transparent;


    margin-bottom: 30px;
}


.breadcrumb a{


    color: var(--steel-blue);


    text-decoration: none;
}


.breadcrumb-item.active{


    color: var(--deep-teal);


    font-weight: 600;
}


/* Table of Content */
.toc{
    position: sticky;
    top: 180px;
    padding: 20px;
    border-radius: 15px;
}


.toc-title{
    margin-bottom: 20px;
    color: var(--deep-royal-blue);
    font-family: var(--font-title);
    font-size: 1.4rem;
}


/* Remove bullets */

.toc-list{
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Spacing */
.toc-list li{
    margin-bottom: 12px;
}


/* Links */


.toc-list a{
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--dark-blue);
    font-family: var(--font-body);
    font-weight: 500;
    transition: all 0.3s ease;
}


/* Hover */


.toc-list a:hover{
    background-color: var(--deep-teal);
    color:#C7D0E0;
    transform: translateX(6px);
    text-decoration: none;
}


/* Table */
.table-responsive{
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #C7D0E0;
    background-color: white;
}


/* Leave 140px space above them when scroll to these sections */
#what-is-bci,
#how-it-works,
#components,
#future,
#types {
    scroll-margin-top: 140px;
}


/* Table of Content */
.toc a.active {
    background-color: #0A6173;
    color: white;
}

/*  */
.signal-link {
    display: inline-block;
    padding: 3px 10px;
    margin: 2px 4px;   /* Adds space around each badge */
    background: #e8f4f8;
    color: var(--deep-teal);
    border: 1px solid var(--deep-teal);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease;
}

/* Gallery */

.bci-card{

    background: var(--ice-white);
    border:1px solid var(--metallic-silver);
    border-radius:18px;
    overflow:hidden;
    cursor:pointer;
    transition:.3s ease;
    height:100%;
}

.bci-card:hover{
    transform:translateY(-8px); 
    border-color:var(--deep-teal);
}

.image-container{

    height: 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
    padding:15px;

}

.image-container img{
    max-width:100%;
    max-height:100%;
}

.card-body{
    text-align:center;
}

.card-title{
    color:var(--steel-blue);
    font-weight:700;
}

.card-text{
    color: var(--dark-blue);
}

.modal-header{
    background:var(--deep-teal);
    color:white;
}

.btn-close{
    filter:invert(1);

}


.figure-container{
    max-width:700px;
    margin:0 auto;
}

.figure-image{
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}

/* When word is highlight to go to another website  */
.word-link{
     color: var(--deep-teal);  
       font-weight: 600;
    text-decoration: none;   
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.word-link:hover,
.word-link:focus{
    color: #5D3FD3;
    text-decoration: underline;
}

/* Flip card */


.flip-card{

    background:none;
    border:none;
    width:100%;
    height:500px;
    perspective:1200px;
    cursor:pointer;
}

.flip-card-inner{

    position:relative;
    width:100%;
    height:100%;
    transition:transform .8s;
    transform-style:preserve-3d;
}

.flip-card.flipped .flip-card-inner{
    transform:rotateY(180deg);
}

.flip-card-front,
.flip-card-back{

    position:absolute;
    inset:0;
    border-radius:25px;
    backface-visibility:hidden;
    padding:2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.flip-card-front{

    background:var(--ice-white);
    color:var(--dark-blue);
    border-top:6px solid var(--deep-purple);
}

.flip-card-front i{
    font-size:4rem;
    color:var(--deep-teal);
}

.flip-card-front:hover{
    transform:translateY(-8px);
}

.flip-card-back{
    background:linear-gradient(
        135deg,
        var(--deep-teal),
        var(--steel-blue)
    );

    color:white;
    transform:rotateY(180deg);
}

.learn-more{

    margin-top:1.5rem;
    font-size:.95rem;
    color:var(--deep-purple);
    font-weight:600;
}

.flip-card:focus-visible{
    outline:4px solid var(--deep-purple);
    border-radius:25px;
}

/* References */
.references {
    background: rgba(255,255,255,0.8);
    border-left: 5px solid #0A6173;
    border-radius: 12px;
    padding: 30px;
}


.references-title {

    font-size: 1.8rem;
    font-weight: 700;
    color: #050A2A;
    margin-bottom: 25px;
}


.ieee-reference {
    padding-left: 25px;
}


.ieee-reference li {

    margin-bottom: 18px;
    line-height: 1.7;
    color: #333;
    text-align: justify;

}


.ieee-reference a {
    color: #0A6173;
    text-decoration: none;

}


.ieee-reference a:hover {
    text-decoration: underline;
}

/* Quiz */
.quiz-card{

    background: var(--metallic-silver);
    
    border-radius:15px;
}

.quiz-card h2{

    color:#0A4174;
    font-weight:700;

}

.progress{

    height:25px;
    border-radius:50px;

}

.progress-bar{

    background:#0A6173;
    font-weight:bold;

}

.answer-btn{

    width:100%;
    text-align:left;
    margin-bottom:15px;
    padding:15px;
    border-radius:10px;
    background:white;
    transition:.3s;

}

.answer-btn:hover{

    background:#0A6173;
    color:white;

}

.correct{

    background:#198754 !important;
    color:white;

}

.wrong{
    background:red !important;
    color:white;
}

/* Timeline */
.timeline-section{
    margin-top:3rem;
}

.timeline{

    position:relative;
    margin:3rem auto;
    padding-left:35px;
    border-left:4px solid var(--deep-teal);

}

.timeline-item{
    position:relative;
    margin-bottom:3rem;
}

.timeline-dot{

    position:absolute;
    left:-47px;
    top:18px;
    width:18px;
    height:18px;
    background:var(--deep-purple);
    border:4px solid var(--ice-white);
    border-radius:50%;
}

.timeline-card{

    background: var(--ice-white);
    padding:1.5rem;
    border-radius:12px;
    transition:all .3s ease;

}

.timeline-card:hover{
    transform:translateY(-5px);
}

.timeline-card p{
    margin-bottom:0;
    line-height:1.8;
}


